<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="utf-8" />
    <title>Tera Demo - {{ title }}</title>
  </head>
  <body>
    {% include "tera/nav" %}

    {% block content %}{% endblock content %}
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Tailwind CSS | Rust Lang | Tera Template | Rocket Web Framework</h2>
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Calculator Project</h1>
        </div>
        <div class="flex flex-wrap -m-4 float-center">
          <div class="p-4 md:w-3/4 items-center float-center align-center m-auto">
            <div class="flex rounded-lg h-full w-full bg-gray-100 border-2 border-indigo-800 p-8 flex-col">
              <div class="flex items-center mb-3">
                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <h2 class="text-gray-900 text-lg title-font font-medium">Calculator</h2>
              </div>
              <div class="flex-grow">
                <div class="relative mb-4">
                  <label for="email" class="leading-7 text-sm text-gray-600"></label>
                  <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="grid grid-cols-4 gap-4">
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">07</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">08</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">09</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">x</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">04</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">05</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">06</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">-</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">01</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">02</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">03</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">+</div>
                  <!-- class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl" ... -->
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">+/-</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">00</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">.</div>
                  <div class="py-2 text-center border-2 border-indigo-300 rounded-lg font-bold text-black text-xl">=</div>
                </div>
              </div>
            </div>
          </div>
         </div>
      </div>
    </section>
      <footer>
        <a href="/">Home</a>
      </footer>
  </body>
</html>